.AnimeItem
{
    cursor: pointer;
}

.AnimeItem:hover .Title
{
    color: #fae065;
}

.CoverContainer
{
    overflow: hidden;
    object-fit: contain;
}

.CoverContainer img
{
    width: 100%;
    height: 100%;
    aspect-ratio: 2/3;
}

.TitleContainer
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 4px;
}

.Info
{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(168, 168, 168);
}


.Title 
{ 
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  
}

.dot
{
    width: 4px;
    height: 4px;
    background-color: rgb(168, 168, 168);
    border-radius: 50%;
    display: inline-block;
    margin-inline: 6px;
}

@media (max-width: 768px)
{
    .AnimeItem:hover .Title { color: inherit;}
}