.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    
}

.navbar.fixed
{
    background-color: #0000006e;
    backdrop-filter: blur(10px);
    transition: backdrop-filter, background-color .5s ease;
    
    
}

.logoContainer
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoContainer img{
    width: 200px;
}

.navLinksContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.navLinksContainer ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navLinksContainer ul li 
{
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}



.mobileSearchBtnContainer button , .menuButton
{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    justify-content: center;
    align-items: center;
    display: none;
}


@media (max-width: 1200px) {

    .navbar
    {
        padding: 16px 16px;
    }

    .logoContainer img
    {
        width: 180px;
    }

    .navLinksContainer
    {
        gap: 20px;
    }

    .navLinksContainer ul
    {
        gap: 15px;
    }

    .navLinksContainer ul li { font-size: 14px;}
}

@media (max-width: 992px)
{
    .logoContainer img { width: 150px;}

    .navLinksContainer{ gap: 16px;}

    .navLinks { display: none;}

    .navbar { padding: 14px;}

    .menuButton { display: flex;}
}

@media (max-width: 768px)
{
    .mobileSearchBtnContainer button { display: flex;}

    .navbar { position: static;}
}

@media (max-width: 576px)
{
    .logoContainer img { width: 120px;}


    .navbar {padding: 12px;}

    .navLinksContainer { gap: 0px;}
    
}