.paginationContainer
{
    margin-block-start: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btnContainer button
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 253, 253, 0.2);;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 16px;
    color: inherit;
    transition: background-color .1s ease;

    &:hover {
        background-color: rgba(255, 253, 253, 0.3);
    }
}

.btnContainer button.active
{
    background-color: #fae065;
    color: #333;
    transform: scale(1.05);
}