


/* Featured Anime  */

.featured-anime-section
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%,1fr));
    gap: 20px;
}

.featured-column h2 
{
    font-size: 18px;
    font-weight: 500;
    margin-block-end: 16px;
}

.column-list > li:not(:last-child)
{
    padding-block: 15px;
    border-bottom: 1px solid rgb(41, 38, 54);
}

.column-list > li:last-child
{
    padding-block: 15px;
    font-weight: 300;

    &:hover {
        color: #fae065;
    }
}

@media (max-width: 1200px)
{
    .featured-anime-section { grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); }
}



@media (max-width: 768px) 
{

    .featured-anime-section { grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));}

    .featured-column h2 { font-size: 16px;}
}


    